body {
  margin: 0;
  background-color: blue;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: red;
}

.main img {
  width: 20rem;
  display: flex;
  align-items: center;
}
